//------------------------------------------------------------------
// FONTS
//------------------------------------------------------------------

// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Allerta|Lekton:400,700|Open+Sans:400,600,700|Arimo:400,700|Lato:400,700|Nunito:400,600,700|Oswald:400,500,600|Oxygen:400,700|Roboto:400,500,700|Rubik:400,500,700|Ubuntu:400,500,700");

/*
// font-family: 'Open Sans', sans-serif;

    Allerta     :400  ___  ___  ___
    Lekton      :400  ___  ___  700
    Open+Sans   :400  ___  600  700
    Arimo       :400  ___  ___  700
    Lato        :400  ___  ___  700
    Nunito      :400  ___  600  700
    Oswald      :400  500  600  ___
    Oxygen      :400  ___  ___  700
    Roboto      :400  ___  500  700
    Rubik       :400  500  ___  700
    Ubuntu      :400  500  ___  700
*/


//------------------------------------------------------------------
// ICON FONTS
//------------------------------------------------------------------

// Line Awesome
@import url("https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css");