
// DEFAULTS

$default-font: "Open Sans", sans-serif;

//-----------------------------------------------------------
// BOOTSTRAP OVERWRITE
//-----------------------------------------------------------

// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: $default-font;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


